@model ShoppingCartViewModel

<h2>Here is your shopping cart...</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
        <tr>
            <td class="text-center">@item.Quantity</td>
            <td class="text-left">@item.CartItem.Name</td>
            <td class="text-right">@item.CartItem.Price.ToString("c")</td>
            <td class="text-right">
                @((item.Quantity * item.CartItem.Price).ToString("c"))
            </td>
            <td>
                <p class="button">
                    <a class="btn " style="text-decoration: none;"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-itemId="@item.CartItem.ItemId">
                        <i class="fa fa-plus" style="display: block;"></i>
                    </a>
                </p>
            </td>
            <td>
                <p class="button">
                    <a class="btn" style="text-decoration: none;"
                       asp-controller="ShoppingCart"
                       asp-action="RemoveFromShoppingCart"
                       asp-route-itemId="@item.CartItem.ItemId">
                        <i class="fa fa-minus" style="display: block; padding-left : 10px"></i></a>
                </p>
            </td>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th colspan="3" class="text-right">Grand Total : </th>
            <th class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </th>
        </tr>
    </tfoot>
</table>

<div>
    <p class="button">
        <a class="btn btn btn-primary"
           asp-controller="Payment"
           asp-action="CheckOut">Proceed to CheckOut</a>
    </p>
</div>

